/* You can add global styles to this file, and also import other style files */

/* reser css for all browser */

@import url('../src/assets/css/reset.css');
/* fonts */

@import url('../src/assets/fonts/font.css');
/* blue color - >  #4acaff */

/* Reusable */

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 16px;
  color: #eee;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/* buttons */

.btn {
  /* mobile first */
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.25em;
  /* its relative to  font-size: 1.25em; which is 20px now */
  padding: 0.5em;
  color: #fff;
  background-color: #4acaff;
}

.btn-brd {
  color: #4acaff;
  border: 1px solid #4acaff;
  background-color: transparent;
}

/* chechbox */
/* checkbox - starts */
/* The container for checkbox */
.cb-container {
  /* display: block; */
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.7em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cb-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb-container input:checked ~ .checkmark {
  background-color: #0077bb;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cb-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cb-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* checkbox  ends */

/* margin */

.mb-10 {
  margin-bottom: 0.625em;
}

.mb-20 {
  margin-bottom: 1.25em;
}

.mt-20 {
  margin-top: 1.25em;
}



/*  no floats in mobile */

/* media queries for desktop view */

/* desktop */

@media screen and (min-width:767px) {
  /* 
side by side class
*/
  .side-by-side {
    display: inline-block;
    vertical-align: top;
  }
  .btn {
    /* 125px */
    min-width: 7.8125em;
    width: auto;
  }
  /* floats */
  .fl-container {
    overflow: hidden;
  }
  .fl-left {
    float: left;
  }
  .fl-right {
    float: right;
  }
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
}
