.header-wrapper,
.intro {
  /* 20px i.e 20/16 */
  padding: 1.25em;
  text-align: center;
}
.header-wrapper{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/img/bg-img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.search-param input{
    width: 100%;
}





@media screen and (min-width:767px) {

  .search-wrapper {
    margin-top: 4em;
    
  }
  .search-wrapper h1{
  font-size: 3em;
  text-align: left;
  
}
.search-box {
      max-width: 75%;
      width: 100%;
  }
 .search-btn-wrapper{
    max-width: 20%;
    width: 100%;
    margin-left: 5%;
    text-align:right;

  }
  /* .search-criteria.cb-container {
    margin-right: 40em;
  } */
  .cb-container{
   margin-right:3em; 
    font-size: 1em;
  }
}
