<nav class="nav-wrapper mt-20 mb-20 fl-container clearfix">
  
  <div class="logo mb-20  fl-left">  
<img src="../../assets/img/logo.png" alt="Logo">
  </div>
  <div class="menu-links mb-20 fl-right">
    <ul>
        <li class="side-by-side menu-item">test</li>
        <li class="side-by-side menu-item">test</li>
        <li class="side-by-side menu-item">test</li>
        <li class="side-by-side menu-item">test</li>
        <li class="side-by-side menu-item">test</li>
        <li class="side-by-side menu-item">test</li>
    </ul>
  </div>
</nav>