<section class="header-wrapper">
  <app-nav></app-nav>

  <div class="search-wrapper mt-20 ">
    <h1 class="mb-20">I'm looking for...</h1>

    <div class="search-box mb-20 side-by-side">
      <div class="search-param">
        <input type="text" value="">

      </div>
      <div class="search-criteria fl-container mt-20">
        <label class="cb-container fl-left">Full Time
          <input name="full-time" id="" type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="cb-container fl-left">Part Time / Freelance
          <input name="part-time" id="" type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>


        <!-- <input type="checkbox" name="full-time" id="" class="fl-left">
        <input type="checkbox" name="part-time" id="" class="fl-left"> -->
        <select name="" id="" class="fl-right">
          <option selected>Select Location</option>
          <option value="1">Pune</option>
          <option value="2">Mumbai</option>
          <option value="3">Chennai</option>
        </select>


      </div>
    </div>
    <div class="search-btn-wrapper mb-20 side-by-side">
      <button class="btn search-btn">Search</button>
    </div>

    <div class="reg-btn-wrapper mb-20">
      <button class="btn reg-btn">Register</button>
    </div>

  </div>

</section>

<section class="intro">

  <div class="title-wrapper mb-20">
    <h2 class="mb-10">we are..</h2>
    <h1>Lol</h1>
  </div>
  <div class="desc-wrapper mb-20">
    <p class="mb-20">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi at ducimus ad, aliquid neque, reiciendis reprehenderit
      facere incidunt a nulla, nostrum fugiat consequatur mollitia magnam suscipit praesentium laborum accusamus quibusdam.
    </p>
    <button class="btn btn-brd find-more ">Find out more</button>
  </div>

</section>

<app-footer></app-footer>
