.bg {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/img/bg-img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

/* Main nav - starts */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-top: 2px solid transparent;
  -webkit-transition: border-top 0.2s;
  transition: border-top 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav li a:focus {
  border-top: 2px solid #0077bb;
}

/* Main Nav - ends*/

.criteria{
  display: inline-block;
}

input {
  width: 100%;
  padding: .375rem 1.75rem 0.175rem .75rem;
}

.search-btn>button {
  width: 100%;
}

.register-btn{

  margin-top: 2%;
  
}

 .job-pref  {
  margin-bottom: 2em;
} 